<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="children" href="/tabs/children">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Crianças</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="campaigns" href="/tabs/campaigns">
      <ion-icon aria-hidden="true" name="megaphone-outline"></ion-icon>
      <ion-label>Campanhas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>