<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
    <h2>{{ userEmail$ | async }}</h2>
  </div>

  <ion-list class="info-list">
    <ion-item lines="none" class="info-item">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Crianças cadastradas</h3>
        <p>{{ childrenCount$ | async }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="logout-button" (click)="logout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Sair da conta
  </ion-button>
</ion-content>